<DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css"/>
</head>


<body>
    <header>
		<img src="../static/images/panpan.svg">
		<img src="../static/images/logo.png">
	</header>
    <div id="content">
        <div id="sidebar-left">
			<h3>Recipes</h3>
		</div>
            <div id="main-content">main</div>
        <div id="sidebar-right">
			<h3>Link</h3>
		</div>
    </div>
    <foot>foot</foot>
</body>


</html>
